html {
  margin-top: 0;
}

html,
body {
  height: 100%;
  margin: 10px;
  padding: 2vh;
  display: absolute;
  justify-content: center;
  align-items: center;
  display: block;
}


#main {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
}

#app {
  width: 100%;
  height: 100%;
}

#Lyrics {
  background-color: #fff;
  border-style: solid;
  text-align: center;
  width: 100%;
  height: 100%;
  padding:0;
  margin: 0;
  font-size: 25px;
  font-weight: 600;
  font-family: Raleway,HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#update_content {
  border-style: solid;
}


button {
  background-color: #fff !important;
  margin-right: 2vh;
}

#media_content  {
  justify-content: center;
  align-items: center;
}

#media_content #artist_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#buttons {
  display: grid;
}

#play_pause {
  align-items: center;;
}

#play_pause img {
  padding: 0 10px;
  display: inline;
 
}

#play_pause .votes {
  padding: 0 10px;
  display: inline;
  font-size: 25px;
 
}

#content_body {
  justify-content: center;
  align-items: center;

}

#content_body p {
  font-size: 20px;
  line-height: 20px;
  text-align: left;
  margin-bottom: 10px;
  padding: 0;
}

#content_body label {
padding: 0;
margin: 0;
}

#content_body text {
  font-size: calc(20px + 18vh);
  }

#content_body input {
  padding: 0px 0px 0px 10px;
  margin: 0;
  }



@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

h1, h2, h3 {
  font-size: calc(20px + 18vh);
  line-height: calc(20px + 20vh);
  text-align: center;
}

h2, h3 {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  font-family: Raleway,HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}
